{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>E-Planner</title>
        <link href="{% static 'planner/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="{% static 'planner/index.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand" href="#" style="color: white; font-weight: bold;">E-planner</a>

            <div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'event' user.id %}" style="color: white;">{{ user.username }}'s Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_event' %}" style="color: white;">Create Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'invites' %}" style="color: white;">Invites</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}" style="color: white;">Log Out</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="bodyblock" style="margin: 20px">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>

